
    <!DOCTYPE html>
    <html lang="en">
    <head>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/style.css">
        <title>Einkaufsliste</title>
    </head>
    <body>
